.App {
    display: flex;
    flex-direction: row;
    margin-right: 15em;
    margin-left: 15em;
    margin-top: 5em;
    margin-bottom: 5em;
    border: 1px solid grey;
    /* margin: auto 0; */
   
    text-align: center;
}