@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Barlow+Condensed:wght@300;600&family=La+Belle+Aurore&family=PT+Sans+Narrow&family=Raleway&family=Roboto+Flex:opsz,wght@8..144,100&family=Skranji&display=swap');

body {
    background-color:  #D3CEC3;
}

@media (min-width: 923px ) {
    .App {
        background-color: #ffffff;
        display: flex;
        margin: 2em auto;
        width: 60vw;
        padding-bottom: 6em;
        border: 1px solid #3D6A7D;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family: 'Raleway', sans-serif;
        border-radius: 10px;
        color: rgb(24, 23, 23);
        
    }


  }

@media (min-width: 621px ) and (max-width: 923px) {
    .App {
        background-color: #ffffff;
        display: flex;
        margin: 2em auto;
        width: 90vw;
        padding-bottom: 6em;
        border: 1px solid #3D6A7D;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family: 'Raleway', sans-serif;
        border-radius: 10px;
        
    } 

}
.App {
    background-color: white;
    display: flex;
    padding-bottom: 6em;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    
}
h4 {
    font-size: 1.2rem;
    padding: 0;
    margin-bottom: 0;

}

input {
    width: 18em;
    margin: 0.3em 0 1em 0;
    height: 1.5em;
    border-radius: 5px;
    border: 1px solid #3D6A7D;
    
}
textarea {
    border-radius: 5px;
    border: 1px solid #3D6A7D;
}
button {
    border-radius: 5px;
    border: 1px solid #3D6A7D;
    margin-left: 2em;
    margin-right: 2em;
    background-color: #ffffff;
   
}
button:hover {
    background-color: #7093a1;
}
.delete-button, .add-new-button {
    margin-top: 1em;
}

.add-new {
    margin-top: 2em;
}
