.education-section {
    margin-top: 1.5em;
    
}
.school-duration {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    
}

.school-duration input {
    width: 15em;
}
.saved-education-details-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
    line-height: 0.4em;
    margin-left: 3em;
    margin-right: 3em;

}
.saved-education-details {
    display: flex;
    flex-direction: row;
    gap: 3em;
    line-height: 0.4em;
}
.saved-education-details-title {
    text-align: left;
    font-weight: bold;
}
.saved-education-details-info {
    text-align: left;
}



@media (max-width: 600px ) {

    .school-duration {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        
    }
 
    .saved-education-details {
        display: flex;
        flex-direction: row;
        gap: 1em;
        line-height: 0.4em;
        margin-left: 3em;
        margin-right: 3em;
    }
    
}