.education-section {
    margin-top: 1.5em;
    
}
.school-duration {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    
}

.school-duration input {
    width: 15em;
}