.personal-details-section {
    margin-top: 1.5em;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    

}
.form-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;   
    

}
.saved-personal-details {
    display: flex;
    flex-direction: column;
    line-height: 0.4em;
    margin-left: 3em;
    margin-right: 3em;
   
}
.saved-personal-details-input-container {
    display: flex;
    flex-direction: row;
    gap: 3em;

}

.saved-personal-item-title {
    text-align:left;
    font-weight: bold;
}

.saved-personal-item-info {
    text-align:left
}


@media (max-width: 600px ) {
    .name {
        display: flex;
        flex-direction: column;    
    
    }
    .saved-personal-details {
        display: flex;
        flex-direction: column;
        gap: 1em;
        line-height: 0.4em;
        margin-left: 0.5em;
        margin-right: 0.5em;
       
    }
    .saved-personal-details-input-container {
        display: flex;
        flex-direction: row;
        gap: 1em;

    } 
    .saved-personal-item-info {
        margin-left: 1em;
    } 
   .form-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;   
   }




}
