
.name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;   
    

}
.saved-personal-details {
    display: flex;
    flex-direction: row;
    gap: 3em;
    line-height: 0.4em;
    margin-left: 3em;
   
}

.saved-personal-item-title {
    text-align:left;
    font-weight: bold;
}

.saved-personal-item-info {
    text-align:left
}