/* 
.name {
    display: flex;
    gap: 1em;
  

    
}
.nameAndRole, .address {
    line-height: 1.8em;
}

.nameAndRole, .address {
    display: flex;
    flex-direction: column;
}
/* label{
    margin-top: 0.5em;
} */